body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 20px 0;
}

#entrenadores-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.entrenador {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pokemon {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.pokemon img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.planta {
    background-color: #8FBC8F;
}

.fuego {
    background-color: #F08080;
}

.electrico {
    background-color: #FFD700;
}

.normal {
    background-color: #D3D3D3;
}

/* Añadir más estilos según los tipos de pokemons */
